# This is Git's per-user configuration file.
[user]
name = Andrew Becker
	email = anbecker@redhat.com
#email = anbecker@redhat.com
[merge]
  tool = meld
[http]
	sslVerify = false
[help]
	autocorrect = 1
